<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.delivery.mapper.DeliveryMapper">
 
 	<select id="selectDeliveryList" resultType="com.quiz.delivery.domain.Delivery">
 		
 		SELECT
 			`id`
			, `name`
			, `phoneNumber`
			, `address`
			, `businessNumber`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		FROM
			`store`
			
 	</select>
 	
 	<select namespace="selectDeliveryReviewList" resultType="com.quiz.delivery.domain.DeliveryReview">
 	
 		SELECT
 			`id`
 			, `storeId`
 			, `menu`
 			, `userName`
 			, `point`
 			, `review`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`review`
 	
 	</select>
 
 </mapper>