@charset "UTF-8";

#wrap {
	width:1000px;
	margin: auto;
}

.nav-fill {
	background-color: orange;
}

.title2 {
	text-size: 100px;
}

.main {
	height: 1000px;
}

.contents {
	min-height:600px;
}

.contents > .sign-up-box {
	width:300px;
}