@charset "UTF-8";

#wrap {
	width:800px;
	margin: auto;
}


header {
	background-color:#00a3d2;
	height: 100px
}

nav {
	background-color: white;
	height: 100px;
}

p {
	font-size: 70px;
	font-weigth: 100;
}

.line {
	border: thin solid #00a3d2;
	height : 120px;
	weigth : 700px;
}

a:link {
	color: black;
}
